@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --pri-bg: linear-gradient(90deg, #149ccf 0%, #16dcbb 100%);
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: #030814;
  color: #fff;
  overflow-x: hidden;
}

.text-gradient {
  background: -webkit-linear-gradient(90deg, #149ccf 0%, #16dcbb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
    transition: 0.4s !important;
}

img {
    width: 100%;
}

section {
    padding: 130px 0px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.background {
    background: url('images/background.png') center center/contain no-repeat;
    width: 100%;
    margin-inline: auto;
}

.header-bg {
  transition: 0.4s;
  background: rgba(3, 8, 20, 0.5);
  backdrop-filter: blur(10px);
  border-bottom: solid 1px var(--primary-color);
}

/* Navbar */
header {
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    max-width:70px;
}

.nav-item {
  padding-inline: 0.75rem;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  background: -webkit-linear-gradient(90deg, #149ccf 0%, #16dcbb 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s !important;
}

.social {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 35px;
  height: 35px;
}
.social:hover {
  text-decoration: none !important;
  color: white !important;
}


.action {
  background: var(--pri-bg);
  border-radius: 30px;
  transition: 0.4s;
}

.action:hover {
  background: linear-gradient(90deg, #16dcbb 0%, #149ccf 100%) !important;
}


/* Hero */
#hero {
    background: url('images/hero.png') center center/cover no-repeat;
    height: 100vh;
    
}


/* Team */
.team {
    max-width: 320px;
    background-color: #06112B;
    border-radius: 32px;
    text-align: center;
    padding-bottom: 33px;
}

.team-img {
    padding: 32px 32px 0px 32px;
}

/* Appointment */
#appointment {
    background-color: #06112B;
    padding-block: 0;
}

@media (max-width: 768px) {
    .team {
        margin-inline: auto !important;
    }
}

.other-page.header-bg {
  background: linear-gradient(90deg, rgba(20, 156, 207, 0.7) 0%, rgba(22, 220, 187, 0.7) 100%);
}

/* other pages */
.mini-hero {
  padding-top: 100px;
  padding-bottom: 50px;
  background: var(--pri-bg);
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #030814;
}

.mini-hero a,
.other-page a {
  color: #030814;
}

.action.social,
.action.other {
  background: #030814 !important;
  color: #fff !important;
}

.content {
  padding-top: 50px;
}

.content ul {
  list-style: disc !important;
  padding-left: 40px;
}

.content1 {
  background: url("images/bg1.png") center center/cover no-repeat;
}
 
.content2 {
  background: url("images/bg2.png") center center/cover no-repeat;
}
 

.popup {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  width: 100%;
  /* transform: translateY(150px); */
  transition: 0.5s;
  z-index: 20;
}

.show-popup {
transform: translateY(0px);
}